<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cz.nuc.wheelgo" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.network" />

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="10" />

    <permission
            android:name="cz.nuc.wheelgo.permission.MAPS_RECEIVE"
            android:protectionLevel="signature" />

    <uses-permission android:name="cz.nuc.wheelgo.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
            android:name="android.hardware.location"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
            android:name="android.hardware.wifi"
            android:required="false" />
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

	<application android:icon="@drawable/ic_launcher" android:name="cz.nuc.wheelgo.WheelGoApplication"
		android:theme="@style/WhiteTheme" android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name="cz.nuc.wheelgo.Settings" android:screenOrientation="portrait"
			android:label="@string/app_name">
		</activity>
		<activity android:name="cz.nuc.wheelgo.MainActivity" android:screenOrientation="portrait"
			android:label="@string/app_name">
			<action android:name="android.intent.action.MAIN" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>
		<activity android:name="cz.nuc.wheelgo.DetailProblem" android:screenOrientation="portrait">
		</activity>
		<activity android:name="cz.nuc.wheelgo.DetailPlace" android:screenOrientation="portrait">
		</activity>
		<activity android:name="cz.nuc.wheelgo.DetailTip" android:screenOrientation="portrait">
		</activity>
		<activity android:name="cz.nuc.wheelgo.ReportProblem" android:screenOrientation="portrait">
		</activity>
		<activity android:name="cz.nuc.wheelgo.ReportPlace" android:screenOrientation="portrait">
		</activity>
		<activity android:name="cz.nuc.wheelgo.ReportTip" android:screenOrientation="portrait">
		</activity>
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBntOa56K97TEZVyjUJjdEXY7XN6xSGj-o"/>

	</application>
</manifest>